In [187]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
%config Completer.use_jedi = True
from sklearn.impute import SimpleImputer

In [188]:
# untouched_df = pd.read_excel('data.xlsx')

In [189]:
df = untouched_df

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64678 entries, 0 to 64677
Data columns (total 42 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ID проекта                                            64678 non-null  object
 1   ID корпуса                                            64678 non-null  object
 2   Проект                                                64678 non-null  object
 3   Локация                                               64678 non-null  object
 4   Округ                                                 64675 non-null  object
 5   Район                                                 64678 non-null  object
 6   Адрес корпуса                                         64678 non-null  object
 7   Стадия строительной готовности на дату договора       64678 non-null  object
 8   Заявленный срок ввода в эксплуатацию                  64678 non-null  object
 9   Старт продаж                                          64593 non-null  datetime64[ns]
 10  Класс                                                 64675 non-null  object
 11  Девелопер                                             64675 non-null  object
 12  Дата договора                                         64678 non-null  object
 13  Месяц и год даты договора                             64678 non-null  float64
 14  Квартал и год договора                                64678 non-null  object
 15  Год договора                                          64678 non-null  int64
 16  Дата регистрации                                      64678 non-null  datetime64[ns]
 17  Месяц и год даты регистрации                          64678 non-null  datetime64[ns]
 18  Квартал и год регистрации                             64678 non-null  object
 19  Год регистрации                                       64678 non-null  int64
 20  Тип сделки                                            64678 non-null  object
 21  ID лота                                               64678 non-null  object
 22  Тип объекта                                           64678 non-null  object
 23  Секция                                                60322 non-null  float64
 24  Этаж                                                  64678 non-null  int64
 25  Количество комнат в прайс-листе, типология bnmap.pro  64215 non-null  object
 26  Площадь согласно ПД                                   64678 non-null  float64
 27  Цена за кв. метр                                      63771 non-null  float64
 28  Метод определения цены                                64532 non-null  object
 29  Расчетный бюджет объекта                              63771 non-null  float64
 30  Включение скидок/акций в ценообразование              64200 non-null  object
 31  Скидки по дате договора                               64192 non-null  object
 32  Отделка по корпусу                                    64195 non-null  object
 33  Тип продавца                                          64678 non-null  object
 34  Тип покупателя                                        64678 non-null  object
 35  Кол-во покупателей                                    64678 non-null  int64
 36  Тип ипотеки                                           64678 non-null  object
 37  Кол-во месяцев обременения                            15588 non-null  float64
 38  Участие объекта в оптовой сделке                      64678 non-null  object
 39  Срок в экспозиции до момента сделки, дней             64678 non-null  object
 40  Рост цены за 1 кв.м за период экспонирования          64678 non-null  object
 41  Рост бюджета покупки за период экспонирования         64678 non-null  object
dtypes: datetime64[ns](3), float64(6), int64(4), object(29)
memory usage: 20.7+ MB

In [191]:
df = df.drop(['ID проекта', 'ID корпуса', 'Локация', 'ID лота', 'Расчетный бюджет объекта', 'Кол-во месяцев обременения', 'Рост бюджета покупки за период экспонирования', 'Округ', 'Месяц и год даты договора','Месяц и год даты регистрации'], axis=1)

In [192]:
df = df.rename(columns={'Количество комнат в прайс-листе, типология bnmap.pro': 'Количество комнат'})

In [193]:
df.head()

,Проект,Район,Адрес корпуса,Стадия строительной готовности на дату договора,Заявленный срок ввода в эксплуатацию,Старт продаж,Класс,Девелопер,Дата договора,Квартал и год договора,Год договора,Дата регистрации,Квартал и год регистрации,Год регистрации,Тип сделки,Тип объекта,Секция,Этаж,Количество комнат,Площадь согласно ПД,Цена за кв. метр,Метод определения цены,Включение скидок/акций в ценообразование,Скидки по дате договора,Отделка по корпусу,Тип продавца,Тип покупателя,Кол-во покупателей,Тип ипотеки,Участие объекта в оптовой сделке,"Срок в экспозиции до момента сделки, дней",Рост цены за 1 кв.м за период экспонирования
0,Баркли Медовая Долина,НАО,"Крекшино, д. 9 (3 оч.)",Строительство не начато,2020-06-30,2017-05-01,Комфорт,Barkli,2019-01-01,1кв. 2019,2019,2019-02-18,1кв. 2019,2019,Договор участия,квартира,NaN,5,ст,27.43,95325.34,Прайс совпадение площади,без скидки,Скидка 12% на ограниченный пул квартир. Скидка...,С отделкой,ЮЛ,ФЛ,1,Нет,Нет,н/д,н/д
1,Румянцево-Парк,НАО,"Московский п., в районе Румянцево дер., уч. 17...",Монтажные и отделочные работы,2020-06-30,2018-04-01,Комфорт,Lexion Development,2019-01-01,1кв. 2019,2019,2019-05-08,2кв. 2019,2019,Договор участия,квартира,4.0,11,2,62.60,114000.00,Прайс совпадение площади,без скидки,Скидка 2% при 100% оплате или ипотеке. При еди...,Без отделки,ЮЛ,ФЛ,1,Нет,Нет,211,"7,5%"
2,Румянцево-Парк,НАО,"Московский п., в районе Румянцево дер., уч. 17...",Монтажные и отделочные работы,2020-06-30,2018-04-01,Комфорт,Lexion Development,2019-01-01,1кв. 2019,2019,2019-05-08,2кв. 2019,2019,Договор участия,квартира,13.0,22,ст,24.10,143000.00,Прайс совпадение площади,без скидки,Скидка 2% при 100% оплате или ипотеке. При еди...,Без отделки,ЮЛ,ФЛ,3,Нет,Нет,211,"16,3%"
3,Баркли Медовая Долина,НАО,"Крекшино, д. 5 (2 оч.)",Монтажные и отделочные работы,2019-09-30,2016-08-01,Комфорт,Barkli,2019-01-02,1кв. 2019,2019,2019-10-14,4кв. 2019,2019,Договор уступки,квартира,NaN,6,ст,28.22,102625.78,Прайс совпадение площади,без скидки,Скидка 12% на ограниченный пул квартир. Скидка...,Без отделки,ЮЛ,ФЛ,1,Ипотека,Нет,н/д,н/д
4,Саларьево Парк,НАО,"Московский п., в районе дер. Саларьево, к. 15",Монтажные и отделочные работы,2020-03-31,2018-02-01,Комфорт,ПИК,2019-01-03,1кв. 2019,2019,2019-02-13,1кв. 2019,2019,Договор участия,квартира,1.0,21,2,51.20,131700.00,Прайс совпадение площади,без скидки,Скидка до 2% при 100% оплате или ипотеке (дейс...,С отделкой,ЮЛ,ФЛ,1,Нет,Нет,275,"15,0%"

In [194]:
def label_encode(name):
    df[name] = pd.Categorical(df[name])
    df[name] = df[name].cat.codes

In [195]:
df['Стадия строительной готовности на дату договора'].describe()

count                             64678
unique                                7
top       Монтажные и отделочные работы
freq                              35493
Name: Стадия строительной готовности на дату договора, dtype: object

In [196]:
df['Заявленный срок ввода в эксплуатацию'] = pd.to_datetime(df['Заявленный срок ввода в эксплуатацию'], errors='coerce')

In [197]:
df = df.drop('Год договора', axis=1)
df = df.drop('Год регистрации', axis=1)

In [198]:
def split_quater(name):
    quater,year = [],[]
    for i in df[name]:
        quater.append(i.split(' ')[0][0])
        year.append(i.split(' ')[-1])
    return quater, year

In [199]:
df.insert(9, "Квартал договора", split_quater('Квартал и год договора')[0])
df = df.drop('Квартал и год договора', axis=1)
df['Квартал договора'] = df['Квартал договора'].astype(str).astype(int)
df['Дата договора'] = pd.to_datetime(df['Дата договора'])

In [200]:
df.insert(12, "Квартал регистрации", split_quater('Квартал и год регистрации')[0])
df = df.drop('Квартал и год регистрации', axis=1)
df['Квартал регистрации'] = df['Квартал регистрации'].astype(str).astype(int)

In [201]:
df['Секция']=df['Секция'].replace(float('nan'),0)
imputer = SimpleImputer(missing_values=0, strategy='mean')
df['Секция'] = imputer.fit_transform(df['Секция'].values.reshape(-1, 1))
df['Секция'] = df['Секция'].astype(int)

In [202]:
df = df.dropna(subset = ['Цена за кв. метр'])

In [203]:
df['Количество комнат'] = df['Количество комнат'].replace('ст','студия')
df['Количество комнат'] = df['Количество комнат'].replace(float('nan'),0)
print(df['Количество комнат'].unique())
df = df[df['Количество комнат'] != 0]
df = df[df['Количество комнат'] != 'bez-tipa']
df = df[df['Количество комнат'] != '-']
print(df['Количество комнат'].unique())

['студия' '2' '1' '3' 0 '4' '-']
['студия' '2' '1' '3' '4']

In [204]:
# df.to_excel('map.xlsx')

## Transforming for ML

In [218]:
df.head(5)

,Район,Стадия строительной готовности на дату договора,Срок ввода в эксплуатацию - Старт продаж,Класс,Девелопер,Срок ввода в эксплуатацию - Договор,Квартал договора,Квартал регистрации,Тип сделки,Тип объекта,Секция,Этаж,Количество комнат,Площадь согласно ПД,Цена за кв. метр,Метод определения цены,Включение скидок/акций в ценообразование,Скидки по дате договора,Отделка по корпусу,Тип продавца,Тип покупателя,Кол-во покупателей,Тип ипотеки,Участие объекта в оптовой сделке,"Срок в экспозиции до момента сделки, дней",Рост цены за 1 кв.м за период экспонирования
0,0,6,1156.0,2,0,546.0,1,1,1,1,4,5,0,27.43,95325.34,4,0,12,8,1,0,1,1,1,0,0.0
1,0,1,821.0,2,3,546.0,1,2,1,1,4,11,2,62.60,114000.00,4,0,2,0,1,0,1,1,1,211,7.5
2,0,1,821.0,2,3,546.0,1,2,1,1,13,22,0,24.10,143000.00,4,0,2,0,1,0,3,1,1,211,16.3
3,0,1,1155.0,2,0,271.0,1,4,0,1,4,6,0,28.22,102625.78,4,0,12,0,1,0,1,0,1,0,0.0
4,0,1,789.0,2,17,453.0,1,1,1,1,1,21,2,51.20,131700.00,4,0,2,8,1,0,1,1,1,275,15.0

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63322 entries, 0 to 64677
Data columns (total 26 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Район                                            63322 non-null  int8
 1   Стадия строительной готовности на дату договора  63322 non-null  int8
 2   Срок ввода в эксплуатацию - Старт продаж         62937 non-null  float64
 3   Класс                                            63322 non-null  int8
 4   Девелопер                                        63322 non-null  int8
 5   Срок ввода в эксплуатацию - Договор              62937 non-null  float64
 6   Квартал договора                                 63322 non-null  int64
 7   Квартал регистрации                              63322 non-null  int64
 8   Тип сделки                                       63322 non-null  int8
 9   Тип объекта                                      63322 non-null  int8
 10  Секция                                           63322 non-null  int64
 11  Этаж                                             63322 non-null  int64
 12  Количество комнат                                63322 non-null  int64
 13  Площадь согласно ПД                              63322 non-null  float64
 14  Цена за кв. метр                                 63322 non-null  float64
 15  Метод определения цены                           63322 non-null  int8
 16  Включение скидок/акций в ценообразование         63322 non-null  int8
 17  Скидки по дате договора                          63322 non-null  int64
 18  Отделка по корпусу                               63322 non-null  int8
 19  Тип продавца                                     63322 non-null  int8
 20  Тип покупателя                                   63322 non-null  int8
 21  Кол-во покупателей                               63322 non-null  int64
 22  Тип ипотеки                                      63322 non-null  int8
 23  Участие объекта в оптовой сделке                 63322 non-null  int8
 24  Срок в экспозиции до момента сделки, дней        63322 non-null  int64
 25  Рост цены за 1 кв.м за период экспонирования     63322 non-null  float64
dtypes: float64(5), int64(8), int8(13)
memory usage: 9.6 MB

In [207]:
label_encode('Район')
label_encode('Тип сделки')
label_encode('Тип объекта')
label_encode('Метод определения цены')
label_encode('Включение скидок/акций в ценообразование')
label_encode('Тип продавца')
label_encode('Тип покупателя')
label_encode('Тип ипотеки')
label_encode('Участие объекта в оптовой сделке')
label_encode('Стадия строительной готовности на дату договора')
label_encode('Класс')
label_encode('Девелопер')
label_encode('Отделка по корпусу')

In [208]:
df['Количество комнат'] = df['Количество комнат'].replace('студия',0)
df['Количество комнат'] = df['Количество комнат'].astype(str).astype(int)

In [209]:
df = df.drop('Проект', axis=1)
df = df.drop('Адрес корпуса', axis=1)

In [210]:
# max может влиять на модель, проверить с min
import re
c = 0
discounts = []
df['Скидки по дате договора'] = df['Скидки по дате договора'].replace(float('nan'),'')
for i in df['Скидки по дате договора']:
    found = "".join(re.findall(r'Скидка \d+%|Скидка до \d+%',i))
    if len(found) != 0:
        max_discount = max([int(i) for i in re.findall('[0-9]+',found)])
        discounts.append(max_discount)
    else:
        discounts.append(0)

In [211]:
df['Скидки по дате договора'] = discounts

In [212]:
# н/д в 0 может повлиять на модель!

df['Срок в экспозиции до момента сделки, дней'] = df['Срок в экспозиции до момента сделки, дней'].replace('н/д', 0)
df['Срок в экспозиции до момента сделки, дней'] = df['Срок в экспозиции до момента сделки, дней'].astype(str).astype(int)
df['Срок в экспозиции до момента сделки, дней'] = df['Срок в экспозиции до момента сделки, дней'].abs()

In [213]:
price = df['Рост цены за 1 кв.м за период экспонирования']
price = [float(i.split('%')[0].replace(',','.')) if '%' in i else i for i in price]
df['Рост цены за 1 кв.м за период экспонирования'] = price
df['Рост цены за 1 кв.м за период экспонирования'] = df['Рост цены за 1 кв.м за период экспонирования'].replace('н/д', 0)

In [214]:
df['Старт продаж'][0]

Timestamp('2017-05-01 00:00:00')

In [215]:
df['Заявленный срок ввода в эксплуатацию'][0]

Timestamp('2020-06-30 00:00:00')

In [216]:

df.insert(4, 'Срок ввода в эксплуатацию - Старт продаж' ,(df['Заявленный срок ввода в эксплуатацию'] - df['Старт продаж']).dt.days)


df.insert(8, 'Срок ввода в эксплуатацию - Договор' ,(df['Заявленный срок ввода в эксплуатацию']-df['Дата договора']).dt.days)


df = df.drop(['Заявленный срок ввода в эксплуатацию','Дата договора', 'Старт продаж', 'Дата регистрации'], axis=1)

In [ ]:
df.to_excel('ml.xlsx')

In [214]:
df['Старт продаж'][0]

Timestamp('2017-05-01 00:00:00')

In [215]:
df['Заявленный срок ввода в эксплуатацию'][0]

Timestamp('2020-06-30 00:00:00')

In [216]:

df.insert(4, 'Срок ввода в эксплуатацию - Старт продаж' ,(df['Заявленный срок ввода в эксплуатацию'] - df['Старт продаж']).dt.days)


df.insert(8, 'Срок ввода в эксплуатацию - Договор' ,(df['Заявленный срок ввода в эксплуатацию']-df['Дата договора']).dt.days)


df = df.drop(['Заявленный срок ввода в эксплуатацию','Дата договора', 'Старт продаж', 'Дата регистрации'], axis=1)

In [ ]:
df.to_excel('ml.xlsx')